{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">


    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body >
    {% block content %}
    <div class="container2">
      <h1 class="form-title">Registration</h1>
      <form action="{% url 'registerdata' %}" method="post">
        {% csrf_token %}

        <div class="main-user-info">
          <div class="user-input-box">
            <label for="fullName"></label>
            Full Name:<input type="text"
                    id="fullName"
                    name="name"
                    placeholder="Enter Full Name"/>
          </div>
          </div>
          <div class="user-input-box">
            <label for="email"></label>
            Email:<input type="email"
                    id="email"
                    name="email"
                    placeholder="Enter Email"/>
          </div>
          <div class="user-input-box">
            <label for="contact"></label>
            Contact:<input type="contact"
                    id="contact"
                    name="contact"
                    placeholder="Enter Contact"/>
          </div>
          <div class="user-input-box">
            <label for="city"></label>
            City:<input type="city"
                    id="city"
                    name="city"
                    placeholder="Enter City"/>
          </div>
          <div class="user-input-box">
            <label for="password"></label>
            Password:<input type="password"
                    id="password"
                    name="password"
                    placeholder="Enter Password"/>
          </div>
          <div class="user-input-box">
            <label for="confirmPassword"></label>
            Confirm Password:<input type="password"
                    id="confirmPassword"
                    name="Cpassword"
                    placeholder="Confirm Password"/>
          </div>
          <div class="form-submit-btn">
              <input type="submit" value="Register">
            </div>
        </div>
        
      </form>
    </div>

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
      
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>
</html>